* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hiddenForm {
  display: none;
}
.viewForm {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.registerForm {
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.registration {
  padding: 20px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.registration span {
  display: none;
}
.formHead {
  display: flex;
}
.registration .field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.registration .formName {
  display: flex;
  gap: 30px;
}
.registration .formEmail {
  display: flex;
  gap: 30px;
}
.registration .formPhone {
  display: flex;
  gap: 30px;
}
.registration .formAddress {
  display: flex;
  gap: 30px;
}
.registration .field input {
  height: 35px;
  width: 300px;
  padding-inline: 10px;
}
.registration .formImage .fieldImage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.registration .formImage .fieldImage input {
  height: 30px;
  width: 100%;
  padding-inline: 10px;
}
.registration .formBtn {
  padding: 10px;
  color: white;
  background-color: #021a3e;
  font-size: 20px;
  cursor: pointer;
}
.closeForm {
  position: absolute;
  padding: 10px 15px;
  border: none;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 0 5px;
  cursor: pointer;
}
.hiddenSigninForm {
  display: none;
}
.viewSigninForm {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.signinForm {
  width: 450px;
  height: 450px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}
.signinForm form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signinForm .fieldSignin {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.signinForm .fieldSignin input {
  width: 300px;
  height: 35px;
  padding-inline: 10px;
}
.signinForm .signinBtn {
  padding: 10px;
  color: white;
  background-color: #021a3e;
  font-size: 20px;
  cursor: pointer;
}
.closeSigninForm {
  position: absolute;
  padding: 10px 15px;
  border: none;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 0 5px;
  cursor: pointer;
}
input {
  outline: none;
}
#registerBtn:disabled {
  border: 2px solid #b4b4b4;
  color: #b4b4b4;
  background-color: transparent;
}
.valid {
  border: 2px solid green;
}
.notvalid {
  border: 2px solid red;
}
.registration span {
  color: red;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 37px;
  display: none;
}
.registration input.notvalid + span {
  display: block;
}
nav {
  color: white;
  background-color: #021a3e;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  justify-content: space-between;
}
nav .navLeftBtns {
  display: flex;
  gap: 10px;
}
nav .homeBtn {
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: transparent;
}
nav .navRightBtns {
  display: flex;
  gap: 10px;
}
nav .basketBtn {
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 35px;
  border-radius: 5px;
  background-color: transparent;
}
nav .basket {
  position: relative;
}
.basket .basketQty {
  position: absolute;
  top: 0;
  right: 3px;
  color: red;
  font-weight: bold;
  font-size: 25px;
}
.fa-shop {
  color: white;
  font-size: 35px;
  cursor: pointer;
}
nav .navRegister {
  color: white;
  border: 1px solid white;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: transparent;
}
nav .navSignIn {
  color: white;
  border: 1px solid white;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: transparent;
}
nav .navSignOut {
  color: white;
  border: 1px solid white;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: transparent;
}
nav .navRegister:hover,
nav .navSignIn:hover {
  cursor: pointer;
}
nav .shopBtn {
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: gray;
}
.fa-bars {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none !important;
}
main {
  display: flex;
  width: 100%;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid gray;
  padding: 10px;
  width: 250px;
}
aside h2 {
  text-align: center;
}
aside ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
aside ul li:hover {
  background-color: lightgray;
}
.mimdinare {
  background-color: lightgray;
}
.inp {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid gray;
  height: 30px;
  padding-inline: 10px;
}
.inp input {
  width: 100%;
  outline: none;
  border: none;
}
main aside form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.selectPrice {
  display: flex;
  justify-content: space-between;
}
.selectPrice input {
  text-align: center;
  width: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}
.rating {
  display: flex;
  justify-content: space-between;
}
.rating input {
  width: 50px;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}
.select {
  display: flex;
  justify-content: space-between;
}
main aside form button {
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
  background-color: #021a3e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
article {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.category {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.category button {
  padding: 10px 50px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: #021a3e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.category button.activeCategory {
  background-color: brown;
  color: black;
}
section {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.verMoidzebna {
  color: red;
  font-size: 50px;
}
section .card {
  box-shadow: 0 0 10px #021a3e;
  width: 230px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}
section .card:hover {
  box-shadow: 0 0 25px #021a3e;
}
.cardPic {
  width: 210px;
  height: 180px;
}
section .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section .card .price {
  display: flex;
  gap: 5px;
}
section .card .price .new {
  font-size: 25px;
  font-weight: bold;
}
section .card .price .old {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  color: red;
  position: relative;
  font-size: 25px;
}
section .card .price .old .line {
  width: 110%;
  height: 10px;
  top: 12px;
  border-bottom: 2px solid black;
  position: absolute;
}
section .card .price .old.undiscounted {
  display: none;
}
.stock.in {
  background-color: rgb(10, 224, 10);
  font-size: 20px;
  padding: 5px 70px;
  position: absolute;
  left: -50px;
  top: 22px;
  transform: rotate(-45deg);
}
.stock.out {
  background-color: rgb(235, 11, 104);
  font-size: 18px;
  padding: 5px 20px;
  position: absolute;
  left: -31px;
  top: 22px;
  transform: rotate(-45deg);
}
.addToCart {
  position: absolute;
  width: 170px;
  bottom: 30px;
  transform: translateY(70px);
  transition: 0.5s;
}
section .card:hover .addToCart {
  transition: 0.5s;
  transform: translateY(0);
}
.addToCart.in {
  color: white;
  background-color: #021a3e;
  border: none;
  border-radius: 5px;
  margin-inline: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.addToCart.out {
  color: white;
  background-color: #021a3e;
  border: none;
  border-radius: 5px;
  margin-inline: 20px;
  padding: 10px;
  cursor: not-allowed;
  transition: 0.5s;
}
.addToCart.in:hover {
  background-color: green;
  box-shadow: 0 0 10px gray;
}
.addToCart.out:hover {
  background-color: gray;
  box-shadow: 0 0 10px gray;
}
.cardRating {
  color: blue;
}
.addToCartSms {
  position: absolute;
  color: black;
  font-weight: bold;
  display: none;
  background-color: rgb(10, 224, 10);
  font-size: 20px;
  padding: 5px 70px;
  left: -21px;
  top: 150px;
  transform: rotate(-45deg);
}
.bottom {
  margin-top: 30px;
}
#btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#btn button {
  padding: 5px 10px;
  color: white;
  background-color: blue;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
#btn button.active {
  color: black;
  background-color: brown;
}
#btn button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.contact {
  border-top: 1px solid gray;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}
.contact div {
  background-color: white;
  padding-inline: 10px;
  font-size: 35px;
  position: absolute;
  top: -22px;
}
footer {
  width: 100%;
}
footer iframe {
  width: 100%;
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 400px;
    gap: 30px;
    padding-top: 20px;
  }
  .category {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-right: 1px solid gray;
    width: 100%;
    justify-content: center;
  }
  main aside form button {
    margin-inline: 10px;
    padding: 10px 105px;
  }

  .fa-bars {
    display: block !important;
  }
  nav .navLeftBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    visibility: hidden;
  }
  .navLeftBtns button {
    border: 1px solid white;
  }
  nav .navRightBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    visibility: hidden;
    gap: 30px;
  }
  .navRightBtns button {
    border: 1px solid white;
  }
  nav .navLeftBtns.view {
    visibility: visible;
  }
  nav .navRightBtns.view {
    visibility: visible;
  }
  nav .basketBtn {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .registerForm {
    padding: 0;
  }
  .registration {
    gap: 5px;
    font-size: 10px;
  }
  .registration .field {
    gap: 5px;
  }
  .registration .formName {
  flex-direction: column;
  gap: 5px;
}
.registration .formEmail {
  flex-direction: column;
  gap: 5px;
}
.registration .formPhone {
  flex-direction: column;
  gap: 5px;
}
.registration .formAddress {
  flex-direction: column;
  gap: 5px;
}
.registration .field input {
  width: 150px;
  height: 20px;
}
.registration .formImage .fieldImage input {
  width: 150px;
  height: 20px;
}
.registration .formImage .fieldImage {
  gap: 5px;
}
.signinForm {
  width: 250px;
  height: 350px;
  gap: 5px;
}
.signinForm .fieldSignin {
  gap: 5px;
}
.signinForm .fieldSignin input {
  width: 150px;
}
.onlineShopping {
  width: 250px;
}
main div {
  width: 250px;
}
}